* {
    margin: 0; padding: 0; box-sizing: border-box; font-family: 'Geometria', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    padding: 50px 0;
}
.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.game-container {
    width: 80%;
    max-width: 900px;
    border: 1px solid #000;
    text-align: center;
}
.game-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.content h2 {
    font-size: 1.7rem;
    margin: .3em 0;
}
.content h3 {
    font-size: 1.35rem;
}
#score {
    font-size: 3.5rem;
    margin: .25em 0 .1em;
}
#score span {
    transition: color .3s;
}
.content h4 {
    font-size: 1.3rem;
}
.controls {
    padding: 15px;
    text-align: left;
}
.controls__block {
    margin: 30px 0;
}
.controls :is( label, p) {
    font-size: 1.3rem;
    margin: .9em 0;
}
.controls :is( input[type="text"], input[type="number"]) {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
    outline: none;
    font-size: 1.35rem;
    margin: 0 .3em
}
.controls input[type="text"] {
    padding: .3em .2em 0;
    max-width: 15ch;
}
.controls input[type="number"] {
    padding: .2em;
    max-width: 12ch;
}
.controls button {
    text-align: center;
    width: 32%;
    border: none;
    cursor: pointer;
    padding: .6em 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    transition: opacity .35s;
}
.controls button:hover {
    opacity: .8;
}

#p1-button { background-color: #e300c9; }
#p2-button { background-color: #c2a439; }
#reset-button { background-color: #cb0000; }

.winner { color: #00d235; position: relative;}
.winner::after {
    content: '👑';
    position: absolute; left: 50%; top: -8px;
    transform: translateX(-50%);
    font-size: 1.1rem;
    opacity: .8;
}
.loser { color: #ba0000; }
.disabled { opacity: .4; }
.controls .disabled:hover { opacity: .4; cursor: auto; }

.table-container {
    text-align: center;
    height: 600px;
    overflow: auto;
    margin-left: 100px;
    scrollbar-width: thin;
    scrollbar-color: rgb(172, 172, 172) rgb(240, 240, 240);
}
.table-container::-webkit-scrollbar { width: 8px; height: 5px; }
.table-container::-webkit-hor
.table-container::-webkit-scrollbar-track {background: rgb(240, 240, 240); }
.table-container::-webkit-scrollbar-thumb {background: rgb(172, 172, 172); border-left: 3px white solid;}
.score-table {
    /* border: 1px solid rgba(0,0,0,.3); */
    font-size: 1rem;
    text-align: center;
}
.score-table th {
    font-size: 1.3em;
    padding: 1em .1em;
}
.score-table td, th {
    border: 1px solid rgba(0,0,0,.3);
    padding: 5px;
}

@media (max-width: 1150px) {
    html {
        font-size: .8rem;
    }
    .table-container {
        height: 500px;
    }
}

@media (max-width: 950px) {
    body {
        padding: 20px 0;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .game-container {
        width: 100%;
        border: none;
    }
    .table-container {
        height: 400px;
        margin: 50px 0;
    }
}

@media (max-width: 564px) {
    body {
        padding: 10px 0;
    }
    html {
        font-size: .6rem;
    }
    .game-container img {
        height: 150px;
    }
    .controls button {
        font-size: 1rem;
    }
    .table-container {
        height: 300px;
    }
    .score-table {
        font-size: .8rem;
    }
    .score-table th {
        padding: 1em .7em;
    }

}